[submodule "CMSIS_5"]
	path = CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5
[submodule "apix"]
	path = apix
	url = https://github.com/yonzkon/apix
[submodule "libmodbus"]
	path = libmodbus
	url = https://github.com/yonzkon/libmodbus
