[submodule "CMSIS_5"]
	path = CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5
[submodule "apix"]
	path = apix
	url = https://github.com/yonzkon/apix
[submodule "libmodbus"]
	path = libmodbus
	url = https://github.com/yonzkon/libmodbus
[submodule "stm32f1xx_hal_driver"]
	path = stm32f1xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f1xx_hal_driver
